body{
  font-size: 20px;
  font-family: monospace;
}

.logo{
  color: #05814c;
  font-weight: bolder;
}

.logo-img{
  height: 50px;
  width: 50px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    margin-top: 52px;
    height: 100%;
    width: 8%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(45, 187, 89); /* rgba(45, 187, 89, 1) fallback color */
    background-color: rgba(45, 187, 89, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 50%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 20% !important; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    cursor: pointer !important;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    display: none;
}

.sort-glyph{
  margin-left: 10px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.search-box{
  font-size: 3em;
  width: 100%;
  border: none;
  border-bottom: solid;
  background-color: transparent;
  display: none;
}

input::-webkit-input-placeholder {
  color: rgba(60, 118, 61, 0.74) !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: rgba(60, 118, 61, 0.74) !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(60, 118, 61, 0.74) !important;
}

input:-ms-input-placeholder {
  color: rgba(60, 118, 61, 0.74) !important;
}

.search-box:focus{
  outline: none;
}

.my-glyphicon{
  margin-top: 20%;
  font-size: 3em;
}

table{
  font-family: Gill Sans, sans-serif;
  margin-top: 55px;
}

th a:hover{
  cursor: pointer;
}

.navbar-title{
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-size: 1.5em;
  line-height: 20px;
}
